on: [push]

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./  
        with:
          repository-type: "npm"
          jf-env-mondo192: ${{ secrets.JF_SECRET_ENV_MONDO192 }}

          

